@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');

/* html,
  body {
    position: relative;
    height: 100%;
  } */

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
.nav {
  height: 100%;
  width: 100%;
  background-color: white;
  /* position: absolute;
  padding-inline: 20px;
  top: 3%; */
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: black;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  /* float: right; */
  font-size: 16px;
  /* justify-content: space-evenly;
  gap: 12px; */
  height: 100%;
  align-items: center;
}
.header_buttons {
  background-color: white;
}
.header_buttons > .login-button {
  color: black;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  color: #55bdb3;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav {
    background-color: #f0f8f8;
  }
  .nav > .nav-header > .nav-title {
    display: none;
  }

  .header_buttons > .login-button {
    color: white;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links.nav-links-visible {
    overflow-y: visible !important;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
    background-color: black;
    color: white;
  }
  .header_buttons {
    background-color: black;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.package_container {
  background: linear-gradient(
    to bottom,
    #f0f8f8 0%,
    #f0f8f8 70%,
    rgba(0, 0, 0, 0) 40%
  );
}
